.presentation{
	float:right;
	width:10%;
	height: 100px;
}
.username{
	float:right;
	margin-right: 5px;
	margin-top:5px;
}

div.user{
	width:100%;
	height:100px;
}

div.princ{
	width:30%;
	margin: 50px auto;
	border-style: groove;
	border-color: black;
	text-align: center;
	background-color: white;
}

input{
	margin-bottom: 20px;
	height:30px;
}

.valid{
	background-color: lightgreen;
	height: 30px;
	margin-left:10px;
	margin-top:20px;
	margin-bottom: 30px;
}

div.retour{
	text-align: center;
}
input.back{
	height:30px;
}

body{
	background-image: url("background/1.jpg");
	background-size:100%;
}
