.presentation{
	float:right;
	width:10%;
	height: 100px;
}
.username{
	float:right;
	margin-right: 5px;
	margin-top:5px;
}

div.user{
	width:100%;
	height:100px;
}

div.retour{
	text-align: center;
	margin-bottom: 15px;
}

body{
	background-image: url("background/1.jpg");
	background-size:100%;
}

p{
	text-align: center;
	width:100%;
}

input{
	height: 30px;
}

div.principal{
	width:25%;
	margin:50px auto;
	border-style: groove;
	background-color: white;
}