div{
	width:30%;
	margin:100px auto;
	border-style: groove;
	border-color: black;
	text-align: center;
	background-color: white;
}

.valid{
	background-color:lightgreen;
	height: 40px;
}

.reset{
	margin-top:20px;
	background-color: red;
	height: 40px;
	margin-bottom: 20px
}

.utili{
	margin-left: 17px;
}

p{
	color: red;
	font-size: 150%;
	text-align: center;
}

body{
	background-image: url("background/1.jpg");
	background-size:100%;
}

input{
	margin-right: 10px;
}